#parse( "templates/header.vm" )

<h1>Addresses</h1>

#if ( ! $addrs.empty )

    <h2>Receiving Addresses</h2>

    <table>
    <tr>
    </tr>
    #foreach( $addr in $addrs )

        #if ( $addr.watchOnly )
            <tr class="gray">
        #else
            <tr>
        #end

        #if ( $addr.label == "" )
            <form id="form-assign-label-$velocityCount" action="/portal/assign">
            <input name="addr" type="hidden" value="$addr.address">
            <td><input name="label" type="text" value="$envLabel"></td>
        #else
            <td>$addr.label</td>
        #end

        #if ( $addr.watchOnly )
        
            <td>$addr.address</td>
            <td>&nbsp;</td>
            
        #else
        
            #if ( $addr.balance == 0 || ! $addr.registered )
                <td>$addr.address</td>
            #else
                <td><a href="/portal/plist?addr=$addr.address">$addr.address</a></td>
            #end
            
            <td>$addr.balance</td>
            
        #end

        #if ( $addr.label == "" )
        
            <td><a href="#" onclick="document.getElementById('form-assign-label-$velocityCount').submit();">assign</a></td>
            </form>
            
        #else
        
            #if ( ! $addr.watchOnly && $addr.balance == 0 )
            
                <td><a href="/portal/pqr?addr=$addr.address">receive</a></td>
                
            #end
            
            #if ( ! $addr.watchOnly && $addr.balance > 0 )
            
                #if ( ! $addr.registered )
                    <td><a href="/portal/regaddr?addr=$addr.address">register</a></td>
                #end
                
            #end
            
        #end

        </tr>

    #end
    </table>
#end

<p/>

<table>
<tr><td><h2>New Address</h2></td></tr>
<form action="/portal/newaddr">
<tr><td><input name="label" type="text" value="$envLabel"></td><td><input type="submit"></td></tr>
</form>

<tr><td>&nbsp;</td></tr>

<tr><td><h2>Import Key</h2></td></tr>
<form action="/portal/impkey">
<tr><td><input name="label" type="text" value="$envLabel"></td><td><input name="impkey" type="text" size="40"></td><td><input type="submit"></td></tr>
</form>
</table>

#parse( "templates/footer.vm" )
