#parse( "templates/header.vm" )

<h2>Add by Content</h2>

<table>
<tr>
    <td>
        <form action="/portal/addtxt">
        <input name="addr" type="hidden" value="$addr.address">
        <input name="path" type="text" size="80" value="$addr.label/file01.txt">
    </td>
</tr>
<tr>
    <td>
        <textarea name="content" rows="10" cols="80">The cat was playing in the garden.</textarea>
    </td>
</tr>
<tr>
    <td>
        <input type="submit">
        </form>
    </td>
</tr>
</table>

<h2>Add by URL</h2>

<table>
<tr>
    <td>
        <form action="/portal/addurl">
        <input name="addr" type="hidden" value="$addr.address">
        <input name="path" type="text" size="80" value="$addr.label/userfile.txt">
    </td>
</tr>
<tr>
    <td>
        <input name="url" type="text" size="80" value="https://raw.githubusercontent.com/jboss-fuse/nessus/master/ipfs/jaxrs/src/test/resources/userfile.txt">
    </td>
</tr>
<tr>
    <td>
        <input type="submit">
        </form>
    </td>
</tr>
</table>

#parse( "templates/footer.vm" )
