#parse( "templates/header.vm" )

<h1>Get File</h1>

<table>
<tr class="gray">
    <td>$addr.label</td>
    <td><a href="/portal/plist?addr=$addr.address">$addr.address</a></td>
    <td>$addr.balance</td>
</tr>
</table>

<p>

<table>
<form action="/portal/fget">
<input type="hidden" name="addr" value="$file.owner">
<input type="hidden" name="cid" value="$file.cid">
<tr>
<td><input type="text" name="path" value="$file.path"></td><td>&nbsp;</td>
<td><a href="$gatewayUrl/$file.cid" target="_blank">$file.cid</a></td>
<td><input type="submit"></td>
</tr>
</form>
</table>

<h2>Local files</h2>
<div id="treeLocal"></div>

<script>
$(function() {
  $('#treeLocal').jstree({
    'core' : $treeDataLocal,
    'plugins': ["contextmenu"],
    "contextmenu": {         
        "items": treeMenuLocal
    }
  });
});
</script>

#parse( "templates/footer.vm" )
