#parse( "templates/header.vm" )

<h1>List Files</h1>

<p/>

<table>
<tr class="gray">
    <td style=".owner">$addr.label</td>
    <td>$addr.address</td>
    <td>$addr.balance</td>
    <td><a href="/portal/rmaddr?addr=$addr.address">unregister</a></td>
</tr>
</table>

<form action="/portal/padd">
<input type="hidden" name="addr" value="$addr.address">
<input type="submit" value="Add Content">
</form>

<h2>IPFS files</h2>
<div id="treeIpfs"></div>

<h2>Local files</h2>
<div id="treeLocal"></div>

<script>
$(function() {

  $('#treeIpfs').jstree({
    'core' : $treeDataIpfs,
    'plugins': ["contextmenu"],
    "contextmenu": {         
        "items": treeMenuIpfs
    }
  });

  $('#treeLocal').jstree({
    'core' : $treeDataLocal,
    'plugins': ["contextmenu"],
    "contextmenu": {  
        "items": treeMenuLocal
    }
  });
});
</script>

#parse( "templates/footer.vm" )
