<html>

<head>
<link rel="stylesheet" href="/css/demo.css">
</head>

<body>
<table>
<tr><td><a href="/portal"><img alt="logo" width="144" height="144" src="/img/logo.png"></a></td><tr>
</table>

<table>
<tr><td><img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=$addr.address"></td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>$addr.address</td></tr>
</table>

</body>
</html>
